name: Java CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '8'
    - name: Build with Gradle
      run: ./gradlew build
    - name: Upload Nightly Build
      uses: actions/upload-artifact@v2
      if: success()
      with:
        name: skript-gui-nightly
